body {
  padding: 0;
  margin: 0;
  -webkit-text-size-adjust: 100%
}

.box {
  padding: 20px;
}

.spacer {
  height: 100px;
}

#header {
  z-index: 3;
  width: 100%;
  height: 100px;
  background: hsl(0,100%,80%);
}

#contents {
  z-index: 1;
  width: 100%;
  min-height: 300px;
  background: hsl(100,100%,80%);
}

#footer {
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: hsl(200,100%,80%);
}
